<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body class="background">
    <div class="align-center">
        <div id="content-initial-two">
            <h1>About BlackPink</h1>
        </div>
        <div class="align-center">
            <img src="../images/image-main-about.jpg" />
            <div class="align-center" id="content-initial">
                <h3>Surgimento da banda</h3>
                <p>Considerado um dos maiores grupos de k-pop da história, o BLACKPINK é formado por Jisoo, Jennie, Rosé
                    e Lisa.
                    O girl group foi lançado pela YG Entertainment - empresa responsável por lançar artistas como PSY e
                    BIGBANG
                    - em agosto de 2016 com os singles Whistle e Boombayah, com o single-álbum Square One. A expectativa
                    em
                    torno do debut do BLACKPINK era alta, já que o grupo era a aposta da YG após o sucesso do 2NE1,
                    primeiro
                    girl group da empresa, formado em 2009, e seu fim em 2017.A seleção das artistas que integrariam o
                    BLACKPINK
                    foi feita não somente na Coreia do Sul, mas também em outros países como na Austrália e na
                    Tailândia.
                    Milhares de candidatas passaram por testes de dança, canto, atuação, entre outras habilidades, até
                    as quatro
                    jovens serem escolhidas para a formação final do grupo.</p>
            </div>
        </div>
    </div>
    <div id="container-singers">
        <div id="title-about">
            <h2>Integrantes</h2>
        </div>
        <div>
            <div class="color-black-name-singer">
                <h4>Jisoo</h4>
            </div>
            <div class="container-singer-horizontal">
                <div class="container-image-black">
                    <img class="size-image" src="../images/image-jisoo.jpg" />
                </div>
                <div class="content-singer-horizontal color-pink ">
                    <p>A Jisso (Kim Ji-soo) é uma das quatro integrantes do grupo BLACKPINK . Ela nasceu na província de
                        Gyeonggi, na Coreia do Sul, em 3 de janeiro de 1995 (26 anos).Durante a infância, Jisoo se
                        interessava por esportes.A diva do K-pop jogava basquete e frequentava aulas de taekwondo na
                        infância. Com o passar do tempo,foi desenvolvendo interesse pela dança, música e TV. Já
                        trabalhou
                        também como apresentadora e
                        modelo.Além de cantora, ela também é dançarina, compositora e atriz.Sua estreia na música
                        começou
                        junto com o BLACKPINK, em 2016. Antes disso, Jisoo seguia como atriz em uma série de televisão
                        sul-coreana chamada The Producers.Jisoo é muito querida pelos fãs por ser
                        uma das integrantes mais engraçadas, que ri muito e conta várias piadas. Ela também faz parte de
                        um
                        dos maiores fandoms que existem, o dos potterheads. Além
                        de ser fã de Harry Potter, gosta muito de Pikachu e TVXQ.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="color-pink-name-singer">
                <h4>Jennie</h4>
            </div>
            <div class="container-singer-horizontal">
                <div class="content-singer-horizontal color-black ">
                    <p>Kim Jennie, ou simplesmente Jennie, nasceu em Gangnam-Seul, na Coreia do Sul, no dia 16 de
                        janeiro de
                        1996. Aos 24 anos, vive o auge de sua carreira como cantora, rapper e dançarina, considerada uma
                        das
                        grandes divas do K-pop no BLACKPINK.Uma curiosidade é que, além do talento na música e na dança,
                        Jennie também é famosa por ser
                        fashionista.Sua influência na moda é muito marcante entre os fãs. Basicamente, tudo que ela usa
                        começa a virar
                        uma grande tendência.Entre as integrantes do BLACKPINK, Jennie foi a primeira a se lançar como
                        solista. Com o single
                        “Solo”, conquistou números impressionantes e até chegou a se apresentar nos palcos do famoso
                        festival Coachella, em 2019.Um fato muito impressionante, e merecido, é que ela foi a primeira
                        mulher na história a liderar o
                        ranking de reputação individual, um medidor de popularidade existente na Coreia. Não é à toa que
                        chamam ela pelo apelido de It Girl, pois ela e o BLACKPINK realmente são o momento.</p>
                </div>
                <div class="container-image-pink">
                    <img class="size-image" src="../images/image-jennie.jpg" />
                </div>
            </div>
        </div>
        <div>
            <div class="color-black-name-singer">
                <h4>Rose</h4>
            </div>
            <div class="container-singer-horizontal">
                <div class="container-image-black">
                    <img class="size-image" src="../images/image-rose.jpg" />
                </div>
                <div class="content-singer-horizontal color-pink ">
                    <p>Roseanne Park, ou Rosé, como é mais conhecida, é a vocalista principal do BLACKPINK e é a
                        responsável
                        por entregar as notas altas e mais complexas das músicas do grupo.Ela nasceu no dia 11 de
                        fevereiro
                        de 1997, o que faz dela uma pisciana de 24 anos. O seu debut solo
                        aconteceu em março de 2020 com as músicas “On The Ground” e “Gone”, do single álbum -R-.Antes do
                        sucesso, ela fez parte do coral na igreja e foi líder de torcida na Austrália e se mudou
                        para Coréia em 2012, depois de passar em uma audição para YG Entertainment.Ela conta que esse
                        foi um
                        período muito difícil, pois ela teve de ficar longe dos seus pais e da sua
                        família e ainda era muito nova.Entretanto, Rosé conseguiu vencer todos esses obstáculos e hoje
                        mostra o seu talento tocando violão
                        e piano para os blinks e para o mundo todo.Ela fala inglês, coreano e japonês fluentemente,
                        gosta de
                        desenhar, é canhota, religiosa, muito
                        sensível, chorona e tem pelo menos 5 piercings na orelha.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="color-pink-name-singer">
                <h4>Lisa</h4>
            </div>
            <div class="container-singer-horizontal">
                <div class="content-singer-horizontal color-black ">
                    <p>Lalisa Manobal, mais conhecida como Lisa, também é rapper e cantora. O seu nome de nascença é
                        Pranpriya, mas ela o mudou para Lalisa depois de uma leitura de sorte.E essa leitura parece ter
                        dado
                        muito certo não é mesmo? Hoje ela é conhecida como a princesa da
                        Tailândia na sua cidade natal.Ela nasceu no dia 27 de março de 1997, o que faz dela uma ariana
                        de 23
                        anos.Lisa também é uma verdadeira máquina de dança. Apesar de ser a mais nova no grupo, o seu
                        talentopara criar e performar coreografias é surreal e, por esse motivo, ela sempre ganha a
                        posição
                        de
                        dançarina principal do grupo.Quem a conhece, diz que ela é bastante brincalhona e até mesmo
                        travessa, mas todas as outras integrantes do grupo a elegeram como a mais fofa.Ela é mãe de 5
                        gatos,
                        professa a religião budista,
                        ama batata frita, sushi e bebidas doces.</p>
                </div>
                <div class="container-image-pink">
                    <img class="size-image" src="../images/image-lisa.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div id="group-buttons">
        <button id="button-black"><a class="links" href="/">Home</a></button>
        <button id="button-pink"> <a class="links" href="/works">Musics</a></button>
        <button id="button-pink"><a class="links" href="/photos">Photos</a></button>
    </div>
</body>

</html>