<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photos</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body id="style-container">
  <div>
    <img id="image-photo" src="../images/logo-blackpink.png" />
  </div>
  <div id="images">
    <img class="image-photo" src="../images/photo-one.jpg" />
    <img class="image-photo" src="../images/photo-two.webp" />
    <img class="image-photo" src="../images/image-album-three.jpg" />
    <img class="image-photo" src="../images/photo-four.jpg" />
    <img class="image-photo" src="../images/photo-five.jpg" />
    <img class="image-photo" src="../images/photo-six.jpg" />
    <img class="image-photo" src="../images/photo-seven.webp" />
    <img class="image-photo" src="../images/photo-eight.jpg" />
    <img class="image-photo" src="../images/photo-nine.webp" />
    <img class="image-photo" src="../images/photo-ten.jpg" />
  </div>
  <div id="group-buttons">
    <button id="button-pink"><a class="links" href="/">Home</a></button>
    <button id="button-pink"><a class="links" href="/about">About</a></button>
    <button id="button-pink"> <a class="links" href="/works">Musics</a></button>
  </div>
</body>

</html>