<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile BlackPink</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body class="background">
    <div id="content-initial">
        <h1>Hi! Welcome to Kpop's world :) </h1>
        <p>Conheça sobre um grupo mais viralizado :</p>
    </div>
    <div class="title">
        <span class="content-color-black">Black</span>
        <span class="content-color-pink">Pink </span>
    </div>

    <img src="../images/image-home.webp" />
    <div id="group-buttons">
        <button id="button-black"><a class="links" href="/about">About</a></button>
        <button id="button-pink"> <a class="links" href="/works">Musics</a></button>
        <button id="button-pink"><a class="links" href="/photos">Photos</a></button>
    </div>
    </div>

</body>

</html>