<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body class="background" id="musics">
  <div id="title-musics">
    <h1>Musics</h1>
  </div>
  <div class="margin-container">
    <h2>Shut Down</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-one.jpg" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/POe9SOEKotk"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Boombayah</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-two.jpg" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/bwmSjveL3Lc"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Kill this Love</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-three.jpg" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/2S24-y0Ij3Y"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Ddu-du Ddu-du</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-four.png" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/IHNzOHi8sJs"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Playing with fire</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-five.jpg" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/9pdj4iJD08s"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Whistle</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-six.jpg" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/dISNgvVpWlo"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Loversick girls</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-seven.png" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/dyRsYk0LyA8"></iframe>
    </div>
  </div>
  <div class="margin-container">
    <h2>Ice cream</h2>
    <div class="align-image-video">
      <img class="size-album" src="../images/image-album-eight.jpg" />
      <iframe class="size-album-video" src="https://www.youtube.com/embed/vRXZj0DzXIA"></iframe>
    </div>
  </div>
  <div id="group-buttons">
    <button id="button-black"><a class="links" href="/">Home</a></button>
    <button id="button-pink"> <a class="links" href="/about">About</a></button>
    <button id="button-pink"><a class="links" href="/photos">Photos</a></button>
  </div>
</body>

</html>